@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    color: rgba(135, 135, 135, 1);
}

body{
  font-size: 14px;
  // font-family: 'Roboto', sans-serif;
  font-family: arial,sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    text-align: center;
  } 
  .main-app{
    width:600px;
    height:500px;
    margin-top: 50px;
    padding:10px;
    display:grid;
    grid-template-areas: "header" "main" "time" "days";
    grid-template-rows: 2fr 6fr 1fr 3fr; 
    grid-gap:1px;
    background-color: rgba(255, 255, 240, 1);
    border:1px solid #dfe1e5;
    border-radius:8px;
    overflow: hidden;
    .mbl-loading{
      text-align: center;
      & .loading{
        width: 100px;
        animation-name: spin;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
    .ma-header{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      grid-area: header;
      // background-color: rgba(249, 223, 214, 1);
      text-align: left;
      font-size: 1.2em;
      padding:5px 0;
      color:#878787;
      & p{
        margin-left:10px;
      }
      & p:first-child{
        font-size: 1.6em;
        color: #878787;
      }
      & .ma-header-day > span{
          margin-left: 10%;
      }
    }
    .ma-main{
      grid-area: main;
      // background-color: rgba(213, 213, 213, 1);
      display: grid;
      grid-template-rows: 5fr 6fr;
      .mam-header {
        display:flex;
        & small{
          font-size: 1.8em;
          margin-left: 20px;
        }
        & .mam-img{
          width:100px;
          height: 100px;
        }
        .mamh-temp{
          font-size: 4.6em;
          &>p{
            color:black;
          }
        }
        .mamh-info{
          margin-left: 10%;
          padding:10px;
          line-height: 1.5;
          font-size: 16px;
          &>p{
            text-align: left;
            color:rgba(135, 135, 135, 1); 
          }
        }
      }
      .mam-graf{
        overflow: hidden;
      }
      .hh-main{
        display: flex;
      }
    }
    .ma-time{
      grid-area: time;
      // background-color: rgba(153, 255, 204, 1);
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      .mat-item{
        text-align: center;
        margin:auto 0;
        padding:5px 10px;
        cursor:pointer;
        &.active{
          background-color: rgba(255, 250, 175, 1);
        }
      }
    }
    .ma-days{
      grid-area: days; 
      // background-color: rgba(51, 153, 255, 1);
      .card-list{
        display: grid;
        grid-template-columns: repeat(5, 2fr);
        height: 100%;
        .card{
          width:auto;
          height:100%;
          box-sizing: border-box;
          margin:1px;
          // border:1px solid rgba(0, 20, 0, 0.3);
          background-color: #fffef8;
          padding:5px;
          border-radius:3px;
          cursor:pointer;
        }
        .card-img{
          display:block;
          margin:0 auto;
          height:70px;
          width:auto;
        }
        .card-temp-max{
          margin-top: 10px;
          font-size: 1em;
          color:rgba(135, 135, 135, 1);
          // border-top: 1px solid rgba(0, 20, 0, 0.1);
        }
        .card-temp-min{
          margin-left:10px;
          color:rgba(186, 186, 186, 1);
          
        }
        & .active{
          background-color: rgba(255, 250, 175, 1);
          border:1px solid rgba(0, 20, 0, 0.1);
        }
      }
    }
  }
}

//-----------------------------


#grafic{
  position: relative;
  top:0;
  left:0;
  background-color: white;
  animation-name: fade;
  animation-duration: 2s;
  transition:1s;
}
.canv-temp{
  position: absolute;
  top:150px;
  z-index: 100;
  color:gray;
}

@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}
@keyframes fade{
  0%{opacity: 0}
  100%{opacity: 1;}
}